{{define "layout"}}<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <meta name="htmx-config" content='{"includeIndicatorStyles": false}' />
    <link rel="stylesheet" href="/static/app.css" />
    <script src="/static/htmx.min.js"></script>
    <script src="/static/timezone.js"></script>{{if .Analytics}}
    <script src="/static/analytics.js" defer></script>{{end}}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
    <main>
      {{template "content" .}}
    </main>
  </body>
</html>
{{end}}
